/* For future UI editings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#sneakytube {
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color: black;
    width: 350px;
    padding: 1rem;
}       

#sneakytube p {
    font-size: 1.0rem;
    font-weight: 300;
}

#sneakytube label {
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
}
